* {
    font-family: sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    background-color: #082f2f;
    margin: auto;
}


/* HEADER STYLING------------------------------------------ */
header {
    align-items: center;
    background-image: url(./img/havana_6-UX.webp);
    height: 300px;
    background-attachment: fixed;
    margin-top: auto;
    /* position: fixed; */

}

/* TEXT STYLING */

.first-p {
    font-family: sans-serif;
    font-size: 18px;

    /* background-color: rgba(255, 255, 255, 0.6); */
    border-radius: 5px;
    display: list-item;
    width: 100vp;
    color: white;
}

.texto {
    position: absolute;
    top: 0px;
    left: 10px;
}

p {
    margin: 0.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling Headers-------------------------------------------------- */

.main-header {
    font-size: 3rem;
    color: #2c3e50;
    font-family: 'Love Ya Like A Sister',
        cursive;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: left;

}

.card {
    font-size: 2.5rem;
    font-family: 'Libre Baskerville',
        serif;
    text-align: center;
}

.havana {
    text-align: center;
    font-size: 2rem;
    font-family: 'Libre Baskerville',
        serif;
    border: 2px #2c3e50 solid;
    background-color: #e15f41;
    display: block;
    border-radius: 200px;
}



/* FLEX BOX STYLING */
.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;


}

/* STYLING SECTIONS FROM THE FLEX CONTAINER ---------------------------------------*/

.blocks {
    margin-top: 30px;
    border: 2px solid;
    width: 100vp;
    background-color: rgb(245, 205, 121);
    border-radius: 5px;
    /* height: fit-content; */
}

.blocks-2 {
    margin-top: 30px;
    border: 2px solid;
    width: 100vp;

    border-radius: 5px;
    /* height: fit-content; */
}

/* STYLING IMAGES------------------------------------------------------------- */
.primer {
    width: 100%;
    border-radius: 5px;

}

/* here Style the navigation menu------------------------------------------------ */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home)----------------- */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links----------------------------------------- */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

}

/* Style the hamburger menu-----------------------------------------*/
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over------------------------- */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) -----------------------------*/
.active {
    background-color: #26de81;
    color: white;
    font-size: 2rem;
}

/* STYLING EVERYTHING FROM THE FOOTER------------------------------------- */

button {
    display: flex;
    border-radius: 3px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    background-color: darkblue;

}

button a {
    text-decoration: none;

    color: antiquewhite;
}

/* HERE WE STYLING THE LOVE-HATE FROM THE BUTTON----------------------------------- */

button:link {
    color: darkkhaki;
    width: 150px;
}

button:visited {
    color: lime;
}

button:hover {
    color: chartreuse;
    background-color: rgb(219, 34, 34);


}

button:active {
    background-color: yellow;

}




footer ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2em;


}

footer ul {
    display: flex;
    justify-content: space-evenly;

    list-style: none
}

.last-h {
    color: #ddd;
    display: inline;
}

.social {
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-start;
}

/* STYLING THE SOCIAL MEDIA ICON FROM THE FOOTER */
.imag {
    width: 50px;
}

img:hover {
    /* background-color: aliceblue; */

}

@media (min-width: 768px) {
    .main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;

    }

    .blocks {
        width: 30%;
        border-radius: 20px;
    }

    .blocks-2 {
        margin-top: 30px;
        border: 2px solid;
        width: 100vp;
        background-color: #2bcbba;
        border-radius: 5px;

    }


    .second {
        color: white;
    }


}