* {
    font-family: sans-serif;
    font-size: 1rem;
}

body {
    background-color: #00d2d3;
}

header {
    align-items: center;
    background-image: url(./img/havana_6-UX.webp);
    height: 300px;
    background-attachment: fixed;
    margin: auto;
}




.texto {
    position: absolute;
    top: 0px;
    left: 10px;
}

.cabecero {
    font-size: 3rem;
    color: #2c3e50;
    font-family: 'Love Ya Like A Sister',
        cursive;
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-flex;
    justify-content: flex-end;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: unset;
}

.secciones {
    margin-top: 10px;
    border: 2px solid;
    width: fit-content;
    background-color: rgb(245, 205, 121);
    border-radius: 15px;
    height: fit-content;
}

p {
    margin: 0.4rem;
    font-family: 'Love Ya Like A Sister',
        cursive;
}

.primer {
    width: 100%;
    border-radius: 15px;

}

.card {
    font-size: 2.5rem;
    font-family: 'Libre Baskerville',
        serif;
    text-align: center;
}

.havanna {
    text-align: center;
    font-size: 2rem;
}


.secciones {
    margin-top: 10px;
    border: 2px solid;
    width: 30%;
    background-color: rgb(245, 205, 121);

    height: fit-content;
}
}