* {
    font-family: sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    background-color: #082f2f;
    margin: auto;
}

header {
    align-items: center;
    background-image: url(./img/havana_6-UX.webp);
    height: 300px;
    background-attachment: fixed;
    margin-top: auto;
}


.first-p {
    font-family: sans-serif;
    font-size: 18px;

    /* background-color: rgba(255, 255, 255, 0.6); */
    border-radius: 5px;
    display: list-item;
    width: 100vp;
    color: white;
}

.texto {
    position: absolute;
    top: 0px;
    left: 10px;
}

.cabecero {
    font-size: 3rem;
    color: #2c3e50;
    font-family: 'Love Ya Like A Sister',
        cursive;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: left;

}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;


}

.blocks {
    margin-top: 30px;
    border: 2px solid;
    width: 100vp;
    background-color: rgb(245, 205, 121);
    border-radius: 5px;
    /* height: fit-content; */
}

p {
    margin: 0.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.primer {
    width: 100%;
    border-radius: 5px;

}

.card {
    font-size: 2.5rem;
    font-family: 'Libre Baskerville',
        serif;
    text-align: center;
}

.havana {
    text-align: center;
    font-size: 2rem;
    font-family: 'Libre Baskerville',
        serif;
    border: 2px #2c3e50 solid;
    background-color: #e15f41;
    display: block;
    border-radius: 200px;
}


.secciones {
    margin-top: 10px;
    border: 2px solid;
    width: 30%;
    background-color: rgb(245, 205, 121);

    height: fit-content;
}






/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #26de81;
    color: white;
    font-size: 2rem;
}

button {
    display: flex;
    border-radius: 3px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    background-color: darkblue;

}

button a {
    text-decoration: none;
    font-size: 1rem;
    color: antiquewhite;
}

hover:button {
    color: chartreuse;
}

footer ul li a {
    color: aliceblue;
    text-decoration: none;

}

.last-h {
    col
}